@import "var";


body {
	
	font-size: 14px;
	color: $primary-txt;
	background: $white;
	font-family: 'Lora';

}

	
body._lock{
    overflow: hidden;
   
    }

.lock-bckg{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0, .6);
			z-index: 10;

	}

.headen{
		display: none;
	}

 .container {
    max-width: 1000px;
    margin: 0 auto;
	padding: 0 65px;
	 
	@media (max-width: $mobile-bp) {
		padding: 0 25px;
	}
   
    }

	a{
		color:inherit;
		text-decoration: none;
		cursor: pointer;
	}

	.section-title{
		font-weight: 400;
        font-size: 34px;
        line-height: 42px;  

		padding-top: 20px;

		@media (max-width: $tablet-bp) {
			font-size: 32px;
			   }
	}



    @import "blocks/header";
	@import "blocks/home";
	@import "blocks/btn";
	@import "blocks/slider";
	@import "blocks/about";
	@import "blocks/work";
	@import "blocks/catalog";
	@import "blocks/review";
	@import "blocks/payment";
	@import "blocks/footer";
	@import "blocks/cart";

	@import "reset.scss";