@import "var";


body {
	
	font-size: 14px;
	color: $primary-txt;
	background: $white;
	font-family: 'Lora';

	}

 .container {
    max-width: 1000px;
    margin: 0 auto;
	padding: 0 65px;
   
    }


	a{
		color:inherit;
		text-decoration: none;
	}

	.section-title{
		font-weight: 400;
        font-size: 34px;
        line-height: 42px;  
	}



    @import "blocks/header";
	@import "blocks/home";
	@import "blocks/btn";
	@import "blocks/about";
	@import "blocks/work";
	@import "blocks/catalog";
	@import "blocks/payment";
	@import "blocks/footer";

	@import "reset.scss";