$primary-txt: #351f21;
$secondary-txt: #989ec3;
$primary-bkg: #a9bfe4;
$white: #fff;
$accent: #ffc2c7;

$slider-bkg: #D9D9D9;

$big-screen-bp: 1191px;
$tablet-bp: 991px;
$mobile-bp: 604px;


@mixin breakpoint($bp){
	
	@media (max-width: $bp) {
		@content;
	}

}

