$primary-txt: #351f21;
$primary-bcg: #351f21;
$secondary: #D9D9D9;
$white: #fff;
$accent: #286F6C;
$social-back: #6D5DD3;

$big-screen-bp: 1191px;
$tablet-bp: 991px;
$mobile-bp: 604px;


@mixin breakpoint($bp){
	
	@media (max-width: $bp) {
		@content;
	}

}

