<!--About - секція 2-->

<section class="container">

    <div class="about-header">
        <div class="about-header-item">
            <img src="./img/bouquets.jpg" width="330" height="220" >
            <button  class="about-header-btn" type="button" href="#">Букети</button>
        </div>
        <div class="about-header-item">
            <img src="./img/natural_flowers.jpg " width="330" height="220">
            <button class="about-header-btn" type="button" href="#">Живі квіти</button>
        </div>
        <div class="about-header-item">
            <img src="./img/own_bouquet.png" width="330" height="220" >
            <button class="about-header-btn" type="button" href="#">"Свій" букет</button>
        </div>
    </div>

    <div class="about">
        <div class="about-main">
            <h2 class="section-title about-title">Про нас</h2>
            <p class="about-txt">Яких квітів тут лише немає! І садові, і польові, і кімнатні у глиняних горщиках. Очі розбігаються від такого достатку.</p>
            <p class="about-txt">Тут представлена і багата колекція кімнатних рослин: кактуси різної форми та величини, ніжні фіалки, усипані квітами, аспарагуси, фікуси.</p>
        </div>

        <div class="about-profile">
            <img src="../img/women.png" width="520">
            <ul  class="about-profile-social">
                <li class="about-profile-social-item">
                    <a href="#" target="_blank"><img src="../img/inst.png" alt="inst" width="25"></a>
                </li>
                <li class="about-profile-social-item">
                    <a href="#" target="_blank"><img src="../img/fb.png" alt="facebook" width="25"></a>
                </li>
                <li class="about-profile-social-item">
                    <a href="#" target="_blank"><img src="../img/viber.png" alt="viber" width="28"></a>
                </li>
            </ul >
        </div>
    </div>
</section>