<div class="popup" id="popup">
    <div class="popup-area" id="cart-inner">
        <a  class="popup-close" id="popup_close">x</a>
        <h3 class="popup-title">Кошик</h3>
        <div class="popup-cart">
            <!-- <img src="../img/bouquet_cart1.png" width="100"> -->
            <div class="popup-cart-name">
                <!-- <p class="popup-txt">Ніжна свіжість: троянди та лілії</p> 
                <p class="popup-txt">450 грн </p>  -->
                <p class="popup-txt">Немає товарів у кошику</p>
            </div>  
        </div>
      <div class="popup-submit">
        <a href="#" value="" class="btn">Оформити замовлення</a>
      </div>
       
    </div>
</div>