<!--Catalog- секція 4-->
<section class="container">
    <h2 class="section-title">Каталог</h2>
    <ul class="catalog">
        <li class="catalog-item">
            <img src="../img/bouquet_cart1 1.png" alt="flower" width="320">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Ніжна свіжість:<br> троянди та лілії</p>
                <p class="catalog-item-profile-price">445 грн</p>
                <button type="button" class="btn">В кошик</button>
            </div>
        </li>
        <li class="catalog-item">
            <img src="../img/bouquet_cart2 1.png" alt="flower" width="320">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Сорбет:<br>хризантеми та троянди</p>
                <p class="catalog-item-profile-price">450 грн</p>
            <button type="button" class="btn">В кошик</button>
            </div>
        </li>
        <li class="catalog-item">
            <img src="../img/bouquet_cart3 1.png" alt="flower" width="330">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Yellow Song:<br>соняшники та солідаго</p>
                <p class="catalog-item-profile-price">455 грн</p>
                <button type="button" class="btn">В кошик</button>
            </div>
        </li>
        <li class="catalog-item">
            <img src="../img/bouquet_cart4 1.png" alt="flower" width="320">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Персиковий нектар:<br> лілії та троянди</p>
                <p class="catalog-item-profile-price">455 грн</p>
                <button type="button" class="btn">В кошик</button>
            </div>
        </li>
        <li class="catalog-item">
            <img src="../img/bouquet_cart5 1.png" alt="flower" width="320">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Аврора:<br> лілії та троянди</p>
                <p class="catalog-item-profile-price">460 грн</p>
                <button type="button" class="btn">В кошик</button>
            </div>
        </li>
        <li class="catalog-item">
            <img src="../img/bouquet_cart6 1.png" alt="flower" width="320">
            <div class="catalog-item-profile">
                <p class="catalog-item-profile-name">Класика кохання: <br>  червоних троянд</p>
                <p class="catalog-item-profile-price">465 грн</p>
                <button type="button" class="btn">В кошик</button>
            </div>
        </li>   
    </ul>
</section>