<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="../img/logo.png" width="140">
        </div>

        <div class="footer-inner">
            <ul class="footer-inner-item">
                <h3 class="footer-inner-item-title">Контакти</h3>
                <li class="footer-inner-item-links"> <a href="tel:(095)0000000">(095) 000 00 00</a></li>
                <li class="footer-inner-item-links"> <a href="tel:(095)0000000">(097) 000 00 00</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Ми працюємо цілодобово</a></li>
            </ul>
            <ul class="footer-inner-item">
                <h3 class="footer-inner-item-title"><a href="#" target="_blank">Інформація</a></h3>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Про нас</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Хіт продажу</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Відгуки</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Доставка і оплата</a></li>
            </ul>
            <ul class="footer-inner-item">
                <h3 class="footer-inner-item-title"><a href="#" target="_blank">Каталог</a></h3>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Збери свій букет</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Живі квіти</a></li>
                <li class="footer-inner-item-links"><a href="#" target="_blank">Кімнатні рослин</a>и</li>
            </ul>
       

        <div class="footer-inner-contacts">
            <div class="footer-inner-form">
                <input class="footer-inner-form-input" type="email" placeholder="Введіть свій e-mail">
                <button class="btn btn--pink" type="submit">Підписатися</button>
            </div>
            <ul class="footer-inner-social">
                <li class="footer-inner-socia-item">
                    <a href="#" target="_blank"><img src="../img/inst.png" alt="inst" width="25"></a>
                </li>
                <li class="footer-inner-socia-item">
                    <a href="#" target="_blank"><img src="../img/fb.png" alt="facebook" width="25"></a>
                </li>
                <li class="footer-inner-social-item">
                    <a href="#" target="_blank"><img src="../img/viber.png" alt="viber" width="28"></a>
                </li>
            </ul>
        </div>
    </div>
    </div>

</footer>