<!--Header-->
<header class="header ">
    <nav class="header-nav  container">
        <a href="#" class="header-mobile-menu">
            <img src="../img/burger_menu.png">
        </a>
        <a href="#" class="header-logo">
            <img src="/img/logo.png" width="137">
        </a>
        <ul class="header-nav-links">
           <li class="header-nav-links-item"><a href="#catalog-title" >Каталог</a></li> 
           <li class="header-nav-links-item"><a href="#" >Про нас</a></li> 
           <li class="header-nav-links-item"><a href="#" >Збери букет</a></li> 
           <li class="header-nav-links-item"><a href="#"  >Контакти</a></li> 
        </ul>
        <ul class="header-nav-icons">
            <li class="header-nav-icons-item"><a href="#"><img src="../img/lupa.png" width="20" alt="пошук"></a></li> 
            <li class="header-nav-icons-item"><a href="#"><img src="../img/basket.png" width="20" alt="корзина для покупок"></a></li> 
        </ul>
    </nav>
</header>