<!--Home-->

<section class="home container">
    <div class="home-inner">
        <h1 class="section-title"> Букет із кущових троянд <br> “Довгоочікуване щастя”</h1>
        <p class="home-inner-txt">Ніжний та витончений шик у букеті з троянд - гарний вибір для коханої 
            людини</p>
        <div class="home-inner-btn">
            <button class="btn btn--pink" type="button">В кошик</button>
            <button class="btn" type="button">В каталог</button>
        </div>
    </div>
    <div class="home-img">
        <img src="/img/bg_web-no-background.png" width="520">
    </div>

</section>