<!--Payment - секція 6-->
<section class="container">
    <h2 class="section-title">Доставка і оплата</h2>
    <ul class="payment">
        <li class="payment-item">
            <p class="payment-item-step">1</p>
            <p class="payment-item-txt">Ви замовляєте букет через каталог</p>
        </li>
        <li class="payment-item">
            <p class="payment-item-step">2</p>
            <p class="payment-item-txt">Ви оплачуєте товар через картку VISA або MC, або Приват24</p>
        </li>
        <li class="payment-item">
            <p class="payment-item-step">3</p>
            <p class="payment-item-txt">Вам передзвонять наші менеджери, якщо потрібно щось уточнити</p>
        </li>
        <li class="payment-item">
            <p class="payment-item-step">4</p>
            <p class="payment-item-txt">Надсилаємо фото зібраного букета, щоб узгодити
                все</p>
        </li>
        <li class="payment-item">
            <p class="payment-item-step">5</p>
            <p class="payment-item-txt">Доставляємо букет одержувачу протягом 2-х годин</p>
        </li>
        <li class="payment-item">
            <p class="payment-item-step">6</p>
            <p class="payment-item-txt">Сповістимо Вас дзвінком або повідомленням про доставку букета</p>
        </li>
    </ul>
</section>