<!--Work - секція 3-->
<section>
<div class="work">
    <div class="container">
        <h2 class="work-title section-title">Працюємо для вас</h2>
        <div class="work-inner">
            <div class="work-item">
                <img src="../img/constructor.png" width="64">
                <p class="work-item-txt">Конструктрор унікального букета</p>
            </div>
            <div class="work-item">
                <img src="../img/delivery.png" width="64">
                <p class="work-item-txt">Безкоштовна доставка по місту до 2-х годин</p>
            </div>
            <div class="work-item">
                <img src="../img/indoor.png" width="64">
                <p class="work-item-txt">Наявність кімнатних рослин</p>
            </div>
            <div class="work-item">
                <img src="../img/for_loved_ones.png" width="64">
                <p class="work-item-txt">Вибір квітів для коханих, мам та друзів</p>
            </div>
        </div>
    </div>
</div>
</section>