//review
.review{
    background: rgba(169, 191, 228, 0.2);
    padding: 15px 0;
  
     &-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all ease-in-out 1s;
        width: 100%;
        
    

        @media (max-width: $tablet-bp) {
            flex-direction: column;

            width: 300px;
            text-align: center;
           }

        &-item{
            margin-left: 45px;
            @media (max-width: $tablet-bp) {
                margin-left: 0;
               }
           

            &-txt{
                font-family: 'Source Sans Pro';
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 12px;

                @media (max-width: $tablet-bp) {
                   margin: 15px 0;
                   }

                &:after{
                    display: block;
                    content: '';
                    background-color: $accent;
                    width: 30px;
                    height: 2px;
                    margin: 12px 0;

                    @media (max-width: $tablet-bp) {
                        margin: 12px auto;
                       }
                }
                }
            &-info{
                font-family: 'Source Sans Pro';
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color:$secondary-txt;
            }
        }
    }
}


.reviews{
    margin-top: 50px;
    display: flex;
    justify-content: center;


}

.review-form{
    margin-top: 50px;
    padding: 30px 0;

    &-title{
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
    }


    &-input{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-name, &-textarea{
            background-color: $white;
            border-radius: 10px;
            border: none;
            padding: 10px;
            margin-top: 15px ;
            &::placeholder{
                font-family: 'Source Sans Pro';
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
            }
        }
      
    }

    &-btn{
        width: 200px;
        margin-top: 15px;

        @media (max-width: $tablet-bp) {
            width: 150px;
            }
    }

    
   
}