//slider

.slider{
    display: flex;
    justify-content: space-around;

    margin: 50px auto;

    width: 250px;
    align-items: center;

    &-btn{
        width: 35px;
        height: 6px;

        display: block;
        background-color: $slider-bkg;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: $secondary-txt;
        }
    }

        &-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $slider-bkg;
            transition: all  0.4s linear;

           

            &--active{
                background-color: $accent;
            }

        }

}

